* {
	box-sizing: border-box;
}
body {
	background-image: url("../images/background.png");
	padding: 0;
	margin:0;
}
main {
	max-width: 75%;
	margin:20px auto;
	background-color: #909090;
	border: 1px solid #000000;
}
header {
	width: 100%;
	color: #ffffff;
	background-color: #7a7a7a;
	display: inline-block;
	padding: 50px;

}
header img {
	width: 200px;
	float: left;
}
.title-header {
	float: left;
	line-height: 0.5;
	margin-left: 20px;
	margin-top: 50px;
}
nav {
	display: inline-block;
	width: 100%;
}
nav ul {
	padding: 0 20px;
}
nav ul li {
	font-size: 1.3em;
	display: inline;
	margin-left: 30px;
}
nav ul li a {
	color: #ffffff;
	text-decoration: none;
}
nav ul li a:hover, .active {
	color: #000000;
}
.clear {
	clear: both;
}
.content {
	background-color: #ffffff;
	width: 100%;
	display: inline-block;
	padding-top: 20px;
}
.post {
	width: 65%;
	float: left;
	margin-right: 50px;
}
.post section {
	display: inline-block;
}

figure {
	float: left;
}
figure img {
	max-width:300px;
}
.detail {
	margin-top: 30px;
}

aside {
	width: 30%;
	float: left;
}
.detail h3, .popular, .contact h2 {
	color: #ff0000;
}
.popular p{
	text-indent: 20px;
	line-height: 2.6;
}
.contact p {
	line-height: 0.5;
}

footer {
	padding: 10px;
	color: #ffffff;
}